*{
    box-sizing: border-box;
}

header{
    height: 100px;
    width: 100%;
    border: 3px solid black;
}
nav{
    height: 50px;
    width: 100%;
    border: 3px solid black;
}
main{
    height: 350px;
    width: 100%;
    border: 3px solid black;
}
footer{
    height: 50px;
    width: 100%;
    border: 3px solid black;
}
#container{
    background-color: rgb(190, 172, 138);
    width: 1280px;
    font-size: 20pt;
}
.col1{
    width: 25%;
    border: 1px solid black;
    height: 100%;
    background-color: gray;
    overflow: scroll;
    float: left;
}
.col2{
    width: 50%;
    border: 1px solid black;
    height: 100%;
    background-color: orange;
    float: left;
    
}
.col3{
    width: 25%;
    border: 1px solid black;
    height: 100%;
    background-color: lightblue;
    float: left;
}