p{font-size: 30pt; color: orange;}
body{background-color: whitesmoke;text-align: center; text-transform: capitalize;}
span{font-weight: bold;}
.impar{background-color: yellow; color: black;}
.par{background-color: black; color: white;}